<h1>Dashboard</h1>

<div>
    <h2>All Categories</h2>
    <%= pie_chart @categories%>
    <%# <%= column_chart  @sales_group_by_month, legend: "top",title: "Last 12 months",prefix: "$",thousands: "." %> 
</div>